[submodule "backend/farmer-backend-java"]
	path = backend/farmer-backend-java
	url = https://github.com/Vamsikrishna498/Farmer-module.git
	branch = main
[submodule "backend/farmer/farmer-module/DATE-PROJECT-DB"]
	path = backend/farmer/farmer-module/DATE-PROJECT-DB
	url = https://github.com/Kiran212-sketch/DATE-PROJECT-DB.git
